

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}
.bottom-header{
  margin: 0.25em;
}
.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color:lightsteelblue;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.headercolor{
  background-color: #56aae1;
}
.fondo{
  background-image: url(Imagenes/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.homeimage{
  background-image: url(Imagenes/Fondohome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.boton-con-imagen {
  background-image: url(Imagenes/Personas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 420px;
  height: 320px;
  margin: 10px;
}
.contenedor-texto {
  width: 100%;
  background-color: #3582b6;
  color: #fff; 
  text-align: center; 
  height: below;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 240px;
  padding: 5px;
  border-radius: 10px;
}
.boton-con-imagen2 {
  background-image: url(Imagenes/Carreras.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 420px;
  height: 320px;
  margin: 10px;
}
.boton-con-imagen3 {
  background-image: url(Imagenes/universidad-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 420px;
  height: 320px;
  margin: 10px;
}
.boton-con-imagen4 {
  background-image: url(Imagenes/Facultad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 420px;
  height: 320px;
  margin: 10px;
}
.boton-con-imagen5 {
  background-image: url(Imagenes/Campus.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 420px;
  height: 320px;
  margin: 10px;
}
.boton-con-imagen6 {
  background-image: url(Imagenes/Programa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 420px;
  height: 320px;
  margin: 10px;
}

.person-table {
  margin: 20px;
}


.tabla-p{
  margin: 200px;
  width: 2000px;
}

.botton_a{
padding: 10px 15px;
}